* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "roboto";
  }
  body{
    margin: 20pt 35pt;
  }
  p,
  label,
  span,
  table {
    /* font-family: 'BrixSansRegular'; */
    font-size: 11pt;
  }
  .h2 {
    /* font-family: 'BrixSansBlack'; */
    font-size: 14pt; 
    font-weight:600;
  }
  .h3 {
    /* font-family: 'BrixSansBlack'; */
    font-size: 14pt;
    display: block;
    background: #0a4661;
    color: #fff;
    text-align: center;
    padding: 3px;
    margin-bottom: 5px;
  }
  #page_pdf {
    width: 95%;
    margin: 15px auto 10px auto;
  }

  #factura_head,
  #factura_cliente,
  #factura_detalle {
    width: 100%;
    /* margin-bottom: 10px; */
  }
  .logo_factura {
    width: 25%;
  }
  .info_empresa {
    width: 50%;
    text-align: center;
    padding:0;
  }
  .info_factura {
    width: 25%;
    float:right;
  }
  .info_cliente {
    width: 100%;
  }
  .datos_cliente {
    width: 100%;
    padding: 10px 10px 0 6%;
  }
  .datos_cliente tr td {
    width: 50%;
  }

  .datos_cliente label {
    width: 130px;
    display: inline-block;
  }

  .datos_cliente p {
    display: inline-block;
  }

  .textright {
    text-align: right;
  }
  .textleft {
    text-align: left;
  }
  .textcenter {
    text-align: center;
  }
  .round {
    border-radius: 10px;
    border: 1px solid #0a4661;
    overflow: hidden;
    padding-bottom: 15px;
  }
  .round p {
    padding: 0 15px;
  }

  #factura_detalle {
    border-collapse: collapse;
    
  }
  #factura_detalle thead th {
    background: #2874A6;
    color: #FFF;
    padding: 5px;
    /* font-weight: 700; */
  }
  #detalle_productos tr:nth-child(even) {
    background: #ededed;
  }
  #detalle_totales span {
    /* font-family: 'BrixSansBlack'; */
  }
  .nota {
    font-size: 8pt;
  }
  .label_gracias {
    font-family: verdana;
    font-weight: bold;
    font-style: italic;
    text-align: center;
    margin-top: 20px;
  }
  .anulada {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .Logo {
    width: 80px;
    height: 80px;
  }