*, *:before, *:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --color-bg-1: #ffffff;
    --color-bg-2: #FEF9E7;
    --color-btn: #2196F3;
    --color-header-step: #21618c;
    --color-header-step1: #21618c;
    --color-header-step2: #123f5e;
   /* --color-shadow: #222;*/
    --color-border-input: #ddd;
}
/* Contenedor principal */
.root {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    font-size: 16px;
    font-family: sans-serif;
    background-image: linear-gradient(var(--color-bg-1), var(--color-bg-2));
    overflow: hidden;
}

/* Formulario */
.form-register, .form-register_dos {
    padding: 20px 15px;
    width: 100%;
  /*  max-width: 600px;*/
}

/* Header del formulario */

/* Progressbar */
.progressbar {
    display: flex;
    list-style: none;
    margin-bottom: 15px;
    counter-reset: step;
}

.progressbar__option, .progressbar__option2 {
    width: 100%;
    text-align: center;
    font-size: .7rem;
    text-transform: uppercase;
    position: relative;
}

.progressbar__option:before, .progressbar__option2:before {
    display: flex;
    content: counter(step);
    counter-increment: step;
    width: 20px;
    height: 20px;
    background-color: white;
    margin: 0 auto 5px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}


.progressbar__option:after , .progressbar__option2:after {
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 10px;
    left: -50%;
    z-index: 1;
}

.progressbar__option:first-child:after .progressbar__option2:first-child:after {
    content: none;
}

.progressbar__option.active:before, .progressbar__option.active:after, .progressbar__option2.active:after {
    background-color: var(--color-header-step);
}

/* Título del formulario */
.form-register__title {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

/* body del formulario */
.form-register__body {
    display: flex;
    align-items: flex-start;
}

/* step */
.step {
    background-color: white;
    box-shadow: 5px 5px 5px 2px var(--color-shadow);
    border-radius: 3px;
    min-width: 100%;
    opacity: 0;
    transition: all .2s linear;
}

.step.active {
    opacity: 1;
}

.step.to-left {
    margin-left: -100%;
}

.step.inactive {
    animation-name: scale;
    animation-duration: .2s;
    animation-direction: alternate;
    animation-iteration-count: 2;
}

@keyframes scale {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(1.1);
    }
}

/* header de step */
.step__header {
    padding: 10px 5px;
    background-color: var(--color-header-step);
    border-radius: 3px 3px 0 0;
}

.step__title {
    font-size: 1.1rem;
    text-align: center;
    color:white;
}

/* body de step */
.step__body {
    padding: 20px 15px 0;
}

/* step inputs */
.step__input {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    border: 1px solid #051d49;
}
/* step inputs */
.step__boton {
    display: block;
    width: 100%;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 3px;
    color:white;
  background-color: #21618c;
    border: 1px solid var(--color-border-input);
}
.boton{
    border-radius: 3px;
  
    border: 1px solid var(--color-border-input);
    color:white;
    background-color: #2196F3;
}

/* step footer */
.step__footer {
    padding: 20px 15px;
    text-align: center;
}

/* step botones */
.step__button {
    display: inline-block;
    padding: 10px;
    background-color: var(--color-btn);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.step__button:hover{
    background-color: #06183a;
}
.step__button1, .step__button2 {
    display: inline-block;
    padding: 20px;
    background-color: var(--color-btn);
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

.step__button1:hover, .step__button2:hover{

    background-color: #051d49;
}

.wd50{
    width: 50%;
}
.wd30{
    width: 33%;
}
.wd20{
    width: 25%;
}
.wd10{
    width: 17%;
}

#contenedor{
    width:100%;
    position:relative; 

    display:-webkit-box;
 }
  .menu_tramite{
    width:100%;
    position:relative; 

    display:-webkit-box;
  }
 #uno{
    float: left;
 }
  


 #dos2{
    float:left;
 }

 .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
.modalDialog:target {
	opacity:1;
	pointer-events: auto;
}
.modalDialog > div {
	width: 400px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
-moz-transition: opacity 400ms ease-in;
transition: opacity 400ms ease-in;
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}
.close:hover { background: #00d9ff; }


.botones{
	
    padding: 0px 25%;
        
    }

    .titulo_h5{
        background-color: #21618c;
        color: #FFFFFF;
    }



    .enviar input{
        display: none;
    }
    
    .enviar label{
        font-weight: 200;
        display: block;
        padding: 0px 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        background-color: #02101f;
        color: white;
        cursor: pointer;
        text-align: center;
        font-size: 16px;
    }
 
    .titulo_a{
        text-align:center;color:#051d49;font-weight:600;
        
    }

    .prueba_col{
        background-color: #051d49;
        color:white;
    }

    .prueba_col2{
        background-color:aliceblue;
        
        
    }

    .prueba_col2 a{
        color:#051d49;
    }
    .prueba_col2 a:hover{
        color:white;
    }


    .prueba_col2 li:hover{
        background-color:#051d49;
        color:white;
    }

    .tabla_t{
      
        border-color: #490505;
    }
.tabla_th{
    background: #06183a;
    color:white;
    text-align: center;
    padding: 2px 2px;
}

.tabla_th th{
    border-radius: 5px;
    padding: 10px 10px;
}


.tabla_tb td{
    padding: 8px;     background: #e8edff;     
    border-bottom: 1px solid #fff;
    color: black;    border-top: 1px solid transparent; 
    text-align: center;
}
.tabla_tb tr{
    border: 2px;
    border-color: black;
}

.tabla_tb tr:hover td:nth-of-type(1n+1){
    background-color:#051d49;
    color:white;
    opacity: .8;
    border-radius: 4px;
    cursor: pointer;
}


.dataTables_info{
 
    text-align: center;
}
.dataTables_paginate{
   
    text-align: center;
   
}

.dataTables_paginate div{
   text-align: center;
}
.paginate_button{
   
    padding: 10px 10px;
    color: #000;
    border: 1px solid #ffffff;
    align-items: center;
    background-color: #aebcc5;
    border-radius: 10px;
    cursor: pointer;
}

.paginate_button:hover :nth-of-type(1n+1){
    background-color:bisque;
    color:white;
    opacity: .8;
    cursor: pointer;
   
}

.boton_edit, .boton_con, .boton_eli, .boton_foto, .estado, .estado2{
    border-radius: 5px;
	padding:5px 5px;
color:#fff;
}
.boton_edit{
    background-color:#122e61;
}
.boton_con{
    background-color:#3e4044;
}
.boton_eli{
    background-color:#580505;
}

.boton_foto{
    background-color:darkorange;
}
.estado2{
    background-color: green;
}

.wd200{
    width: 30%;
    text-align: right;
	color:#051d49;
	padding:4px;
}
.wd80{
    width: 70%;
}

.wd40{
    width: 40%;
}
.wd60{
    width: 60%;
}

.color_t{

color: #051d49;
}

.color_e{
	background-color:#09b4ba;
}
.color_g{
	background-color:#005aff;
}